body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

@font-face {
  font-family: ArcadeClassic;
  src: url(ARCADECLASSIC.ttf);
}

p {
  font-family: ArcadeClassic;
  font-size: 20px;
  color:white;

}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

