body {
  background-color: black;
}

h1 {
	font-family: arcadeclassicregular;
  color: white;
  text-align: center;
}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic.woff2') format('woff2'),
         url('arcadeclassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
  font-family: arcadeclassicregular;
  font-size: 20px;
  color:white;

}

iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

